# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

#DB
app.db

#logs
*.log
*.jsonl
